<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="./js/main.js"></script>
</head>
<body>


    <h2>Hello Lotto</h2>
    <input type="button" onclick="getLottoNum(6)" value="로또 버튼" >

    <div>
        <ul id="spreadNumberHere">

        </ul>
    </div>
</body>
</html>